[init]
  defaultBranch = main

[include]
  # A local gitconfig, outside of version control.
  # If the file doesn't exist it is silently ignored
  path = ~/.gitconfig-local

[alias]
  # list all aliases
  la = "!git config -l | grep alias | cut -c 7-"
  d = "!git diff --ignore-space-at-eol -b -w --ignore-blank-lines -- ':!**/package-lock.json' ':!**/yarn.lock'"
  s = status --short
	ignore = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
  l = log --graph --pretty=format:'%Cred%h%Creset %C(bold blue)%an%C(reset) - %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

  # gh commands
  browse = "!gh repo view --web"

  # show what I did today
  day = "!sh -c 'git log --reverse --no-merges --branches=* --date=local --after=\"yesterday 11:59PM\" --author=\"`git config --get user.name`\"'"

  # show the committers in the last 100 commits, sorted by who has commited the most
  review = "!git log --no-merges --pretty=%an | head -n 100 | sort | uniq -c | sort -nr"

  # show all deleted files in the repo
  deleted = "!git log --diff-filter=D --summary | grep delete"

  # show number of commits per contributer, sorted
  count = shortlog -sn

  undo = reset --soft HEAD~1
  amend = commit -a --amend

  # rebase the current branch with changes from upstream remote
  update = !git fetch upstream && git rebase upstream/`git rev-parse --abbrev-ref HEAD`

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
[color "branch"]
  current = green bold
  local = green
  remote = red bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red
[color "sh"]
  branch = yellow

[push]
  # push will only do the current branch, not all branches
  default = current

# [branch]
  # set up 'git pull' to rebase instead of merge
 #  autosetuprebase = always
# [pull]
  # rebase = true

[core]
	excludesFile = ~/.gitignore
  editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[credential]
	helper = store
[user]
	email = mahdi.se@yahoo.com
	name = Mahdi Seyedan
