###          Information    
# Makes toggling dummy take Hammer in hand
###                    


# tells you privately though chat whats going on
echo Enabled Dummy take Hammer on switch

# bounds toggle dummy to also switch to Hammer
bind x "+weapon1; toggle cl_dummy 0 1"

# makes it so pressing 6 will disable it
bind 8 exec "configs/hammerOnSwitch/off.cfg"
