[Match]
MACAddress={{MAC}}

[Link]
RequiredForOnline=routable

[Network]
DHCP=yes

[DHCPv4]
UseDNS=no
RouteMetric=600

[DHCPv6]
UseDNS=no
RouteMetric=600

[IPv6AcceptRA]
RouteMetric=600
