# export LC_ALL="en_US.UTF-8"
# export LANG="en_us.UTF-8"

export GHCUP_INSTALL_BASE_PREFIX="$HOME"
export JAVA_HOME=/usr/lib/jvm/default

# export FZF_DEFAULT_OPTS="--layout=reverse --height 40%"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="alacritty"
export BROWSER="firefox"

export PATH="$HOME/.dotfiles/bin":$PATH
export PATH="$HOME/.cabal/bin":$PATH

# dwmblocks &

nm-applet --indicator &

# volumeicon &

# picom -b

~/.dotfiles/bin/remaps

# feh --bg-fill --randomize ~/Picture/Wallpaper/* &
