export GHCUP_INSTALL_BASE_PREFIX="$HOME"

export FZF_DEFAULT_OPTS="--layout=reverse --height 40%"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="firefox"

dwmblocks &

nm-applet --indicator &

volumeicon &

picom -b

~/.dotfiles/i3/.i3/keyboard.sh

feh --bg-fill --randomize ~/Picture/Wallpaper/* &
