! Xft.dpi: 96
! Xft.antialias: true
! Xft.hinting: true
! Xft.rgba: rgb
! Xft.autohint: true
! Xft.hintstyle: hintfull
! Xft.lcdfilter: lcdfilter
!
! ! st.font: Victor Mono:style:medium:pixelsize=24
!
! ! window padding
! st.borderpx: 0
!
! !- 0.1 to 0.9 = transparency
! st.alpha: 1
!
! ! *background: #181f21
! ! *foreground: #dadada
! !
! ! ! Black + DarkGrey
! ! *color0:  #22292b
! ! *color8:  #575e60
! !
! ! ! DarkRed + Red
! ! *color1:  #e06e6e
! ! *color9:  #ef7d7d
! !
! ! ! DarkGreen + Green
! ! *color2:  #8ccf7e
! ! *color10: #9bdead
! !
! ! ! DarkYellow + Yellow
! ! *color3:  #e5c76b
! ! *color11: #f4d67a
! !
! ! ! DarkBlue + Blue
! ! *color4:  #67b0e8
! ! *color12: #6cb5ed
! !
! ! ! DarkMagenta + Magenta
! ! *color5:  #c47fd5
! ! *color13: #ce89df
! !
! ! ! DarkCyan + Cyan
! ! *color6:  #6da4cd
! ! *color14: #67cbe7
! !
! ! ! LightGrey + White
! ! *color7:  #b3b9b8
! ! *color15: #bdc3c2
!
! ! ------------------------------------------------------------------------------
! !  Colors
! ! ------------------------------------------------------------------------------
! !
! !------------------------------------------------------------------------------
!
! #define base00 #000000
! #define base01 #303030
! #define base02 #353535
! #define base03 #4A4A4A
! #define base04 #787878
! #define base05 #EEFFFF
! #define base06 #EEFFFF
! #define base07 #FFFFFF
! #define base08 #F07178
! #define base09 #F78C6C
! #define base0A #FDF200
! #define base0B #13CA91
! #define base0C #79ffe1
! #define base0D #7898FB
! #define base0E #ff3299
! #define base0F #FF5370
!
!
! !  URxvt
! ! ------------------------------------------------------------------------------
!
! *foreground:   base05
! *background:   base00
! *cursorColor:  base05
!
! *color0:       base00
! *color1:       base08
! *color2:       base0B
! *color3:       base0A
! *color4:       base0D
! *color5:       base0E
! *color6:       base0C
! *color7:       base05
!
! *color8:       base03
! *color9:       base09
! *color10:      base01
! *color11:      base02
! *color12:      base04
! *color13:      base06
! *color14:      base0F
! *color15:      base07
!
! *.cursorBlink : off
! ! *.font       : xft:JetBrainsMono Nerd Font Mono:size=22:antialias=true:autohint=true
! ! *.italicFont : xft:JetBrainsMono Nerd Font Mono:size=22:style=Italic:antialias=true:autohint=true
! ! *.boldFont   : xft:JetBrainsMono Nerd Font Mono:size=22:style=Bold:antialias=true:autohint=true
!  
! *.lineSpace           : 0
! *.letterSpace         : -1
! *.scrollBar           : false
! *.internalBorder      : 25
! *.cursorUnderline     : false
! *.geometry            : 70x35
! *.thickness           : 5
! *.titleBar            : false
! *.intensityStyles     : false
!  
!  
! *.perl-ext-common : default,matcher
! *.url-launcher    : firefox
! *.matcher.button  : 1
!
! !  XTerm
! ! ------------------------------------------------------------------------------
!
! XTerm*utf8: 2
!
! XTerm*locale: true
